.groups{
    padding: 10px 0px;
}
.HeadName{
    padding-bottom: 10px;
    font-size: 13px;
  color: #767679 ;
}
.last-button {
    display: flex;
    align-items: center;
    padding: 7px 0px;
    gap: 8px;
    width: 100%;
    border-radius: 10px;
  }
  
  .last-button:hover{
    background-color: #E4E6E9;
    cursor: pointer;
  }